/* Layout classes */
.center {
  display: block;
  text-align: center;
}
.margin-0-auto {
  margin: 0 auto;
}

/* for certain elements on mobile to allow user to scroll down and give a visual
  cue that there is nothing left to see */
.mobile-margin-bottom {
  margin-bottom: 4rem;
}

.block {
  display: block !important;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.inline-block {
  display: inline-block !important;
}
.relative {
  position: relative !important;
}

.full-width {  
  width: 100% !important;
}

.card {
  border: 1px solid #ccc;
}

