/* Layout classes */
.center {
  display: block;
  text-align: center;
}
.margin-0-auto {
  margin: 0 auto;
}

/* for certain elements on mobile to allow user to scroll down and give a visual
  cue that there is nothing left to see */
.mobile-margin-bottom {
  margin-bottom: 4rem;
}

.block {
  display: block !important;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.inline-block {
  display: inline-block !important;
}
.relative {
  position: relative !important;
}

.full-width {  
  width: 100% !important;
}
   
.ftable {
    display: flex;
    flex-wrap: wrap;
}
.ftable__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
  .ftable__row--between {
    justify-content: space-between;
  }
  
.ftable__cell {
  display: flex;
  flex-grow: 1;
  width: 25%;  
  overflow: hidden; /* Or flex might break */
  //outline: 1px solid aquamarine;
}
  .ftable__cell--amount {
    width: 6%;  
  }
  .ftable__cell--date {
    width: 12%;  
    justify-content: flex-end;
    align-items: center;
  }
  .ftable__cell--edit {
    width: 6%;
    align-items: center;
    justify-content: flex-end;
  }

.card {
  border: 1px solid #ccc;
}

