/* Reset native elements and add classes mimicking native elements (e.g. ".table" */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
table, 
.table {
  border-collapse: collapse;
}
th,
.th,
td,
.td {
  padding: 0;
}

.table { display: table; }
.tr { display: table-row; }
.td { display: table-cell; }

.legend {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  color: #444;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; 
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important; 
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;           
}
.visibility-hidden {
  visibility: hidden;
}

body {
  background: #f0ffff;
}

