/* Reset native elements and add classes mimicking native elements (e.g. ".table")
    with the exception of .input */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: inherit;
  font-weight: normal;
}

table, 
.table {
  border-collapse: collapse;
}
th,
.th,
td,
.td {
  padding: 0;
}

.table { display: table; }
.tr { display: table-row; }
.td { display: table-cell; }

.legend {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  color: #444;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  text-transform: inherit;
  cursor: pointer;
}
