/* Text and Fonts */
.font-25 {
  font-size: 25px;
}
.font-16 {
  font-size: 16px;
}
.font-14 {
  font-size: 14px;
}
.font-12 {
  font-size: 12px;
}

.bold {  
  font-weight: bold; 
}

.capitalize {
  text-transform: capitalize;
}
