@import '_reset.scss';
@import '_visibility.scss';
@import '_layout.scss';
@import '_spacing.scss';

.container {
  margin: 0 30px;
}
.container-smaller {
  margin: 0 7.5px;
}

.main-form {
  margin-top: 25%; /* TODO: temporary value */
}

.input {
  text-align: center;
  display: block;
  padding: 1rem;
  border-radius: 10px;
  width: auto;
}
  .input[type="submit"]{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background: #4285F4;
  }
  .input-secondary {
    border: 1px solid #ccc;
    background: none;
  }
.full-width {  
  width: 100%;
}
   
.ftable {
    display: flex;
    flex-wrap: wrap;
}
.ftable__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
  .ftable__row--between {
    justify-content: space-between;
  }
  
.ftable__cell {
  display: flex;
  flex-grow: 1;
  width: 25%;  
  overflow: hidden; /* Or flex might break */
  //outline: 1px solid aquamarine;
}
  .ftable__cell--amount {
    width: 6%;  
  }
  .ftable__cell--date {
    width: 12%;  
    justify-content: flex-end;
    align-items: center;
  }
  .ftable__cell--edit {
    width: 6%;
    align-items: center;
    justify-content: flex-end;
  }
.edit-label {
  display: inline-block;
  width: 25%;
}

.edit-input--number {
  width: 45%;
}

.card {
  border: 1px solid #ccc;
}

.dollar {
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: #777;
}

.gray-777 {
  color: #777;
}
.bg-white { background: white; }

.btn {
  border-radius: 5px;
  -webkit-appearance: none;
  text-transform: uppercase;
  border-color: inherit;
}
  .btn--blue {
    font-weight: bold;
    font-size: 16px;
    background: #0078e7;
    color: white;
  }
  .btn--red {
    font-weight: bold;
    font-size: 16px;
    background: #f44336;
    color: white;
  }
  .btn--outline {
    font-size: 16px;
    background: #f6f6f6;
    border: 1px solid #ccc;
  }
  .btn--edit {
    font-weight: bold;
    font-size: 12px;
    color: #666;
  }

.divider {
    height: 1px;
    border: 0;
    margin: 0;
    padding: 0;
    padding: 0;
    display: block;
    background-color: #ddd;
    zoom: 1;
    margin-bottom: 15px;
    margin-top: 15px;
}  

/* from here: http://stackoverflow.com/a/18064496 */
.divider--dotted {
  background-color: transparent;
  background-image: linear-gradient(to right, #ccc 20%, rgba(68,68,68,0) 0%);
  background-position: top;
  background-size: 5px 1px;
  background-repeat: repeat-x;
}

.editing {
  outline: 1px solid #ccc;
}


/* Text and Fonts */
.font-25 {
  font-size: 25px;
}
.font-16 {
  font-size: 16px;
}
.font-14 {
  font-size: 14px;
}
.font-12 {
  font-size: 12px;
}

.capitalize {
  text-transform: capitalize;
}
