@import '_reset.scss';
@import '_buttons.scss';
@import '_colors.scss';
@import '_dividers.scss';
@import '_flexbox.scss';
@import '_forms.scss';
@import '_layout.scss';
@import '_links.scss';
@import '_main-nav.scss';
@import '_spacing.scss';
@import '_type.scss';
@import '_visibility.scss';

body {
  background: #f0ffff;
}

.container {
  max-width: 960px;
}

.logo-dirt {
  font-size: 34px;
  font-weight: bold;
  font-family: 'Basic', sans-serif;
  letter-spacing: -1px;
}
.logo-simple {
  font-size: 38px;
  text-transform: uppercase;
  font-family: 'Oswald', 'PT Sans Narrow', 'Gill Sans', sans-serif;
  font-weight: lighter;
  padding-left: 3px;
}

.card {
  border: 1px solid #ccc;
}

.dollar {
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: #777;
}

.divider {
    height: 1px;
    border: 0;
    margin: 0;
    padding: 0;
    padding: 0;
    display: block;
    background-color: #ddd;
    zoom: 1;
    margin-bottom: 15px;
    margin-top: 15px;
}  

/* from here: http://stackoverflow.com/a/18064496 */
.divider--dotted {
  background-color: transparent;
  background-image: linear-gradient(to right, #ccc 20%, rgba(68,68,68,0) 0%);
  background-position: top;
  background-size: 5px 1px;
  background-repeat: repeat-x;
}

.editing {
  outline: 1px solid #ccc;
}
