/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #f0ffff;
}

.container {
  margin: 0 auto;
  width: 70%;
}

form {
  margin-top: 25%; /* TODO: temporary value */
}

.table {  
  table-layout : fixed; 
  text-align: right;
}

.input {
  text-align: center;
  display: block;
  padding: 1rem;
  border-radius: 10px;
  width: 100%
}
  .input[type="submit"]{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background: #4285F4;
  }
  .input-secondary {
    border: 1px solid #ccc;
    background: none;
  }

/* give one style for spacing, another for "buttons" */

.label {
  display: block;
  text-align: center;
}

.card {
  border: 1px solid #ccc;
  padding: 1rem;
  width: 100%;
}

.dollar {
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: #777;
}

.inline-block {
  display: inline-block !important;
}

/* Margins */
.mvm {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.mtm {
  margin-top: 1.6rem;
}

.mbl {
  margin-bottom: 3.2rem;
}
.mbm {
  margin-bottom: 1.6rem;
}
.mbs {
  margin-bottom: 0.8rem;
}


/* Text and Fonts */
.font-25 {
  font-size: 25px;
}

.gray-777 {
  color: #777;
}
