/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; 
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important; 
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;           
}

body {
  background: #f0ffff;
}

.container {
  margin: 0 30px;
}
.container-smaller {
  margin: 0 15px;
}

.main-form {
  margin-top: 25%; /* TODO: temporary value */
}

.full-width {  
  width: 100%;
}
   
.ftable {
    display: flex;
    flex-wrap: wrap;
}
.ftable__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
  .ftable__row--between {
    justify-content: space-between;
  }
.ftable__cell {
  display: flex;
  flex-grow: 1;
  width: 25%;  
  overflow: hidden; /* Or flex might break */
  //outline: 1px solid aquamarine;
}
  .ftable__cell--amount {
    width: 6%;  
  }
  .ftable__cell--date {
    width: 12%;  
    justify-content: flex-end;
    align-items: center;
  }
  .ftable__cell--edit {
    width: 6%;
    align-items: center;
    justify-content: flex-end;
  }

.input {
  text-align: center;
  display: block;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
}
  .input[type="submit"]{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background: #4285F4;
  }
  .input-secondary {
    border: 1px solid #ccc;
    background: none;
  }
  .input-number {
    width: auto;
  }

/* give one style for spacing, another for "buttons" */

.center {
  display: block;
  text-align: center;
}
.block {
  display: block !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

.card {
  border: 1px solid #ccc;
}

.dollar {
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: #777;
}

.inline-block {
  display: inline-block !important;
}

/* Margins */
.mvm {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.mtm {
  margin-top: 1.6rem;
}

.mbl {
  margin-bottom: 3.2rem;
}
.mbm {
  margin-bottom: 1.6rem;
}
.mbs {
  margin-bottom: 0.8rem;
}
/* TODO: ditch the rems and go back to px */
.mrl {
  margin-right: 3.2rem;
}
.mrm {
  margin-right: 15px;
}
.pal {
  padding: 30px;
}
.pam {
  padding: 15px;
}
.phm {
  padding-left: 15px;
  padding-right: 15px;
}
.plm {
  padding-left: 15px;
}
.prm {
  padding-right: 15px;
}
.pvm {
  padding-top: 15px;
  padding-bottom: 15px;
}
.pas {
  padding: 7.5px;
}
.phs {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.pls {
  padding-left: 7.5px;
}
.prs {
  padding-right: 7.5px;
}
.pvs {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}
.paxs {
  padding: 5px;
}
.phxs {
  padding-left: 5px;
  padding-right: 5px;
}
.plxs {
  padding-left: 5px;
}
.prxs {
  padding-right: 5px;
}
.pvxs {
  padding-top: 5px;
  padding-bottom: 5px;
}


/* Text and Fonts */
.font-25 {
  font-size: 25px;
}
.font-14 {
  font-size: 14px;
}
.font-12 {
  font-size: 12px;
}

.gray-777 {
  color: #777;
}

.btn {
  border-radius: 5px;
  -webkit-appearance: none;
}
  .btn--blue {
    font-weight: bold;
    font-size: 16px;
    background: #0078e7;
    color: white;
  }
  .btn--outline {
    //font-weight: bold;
    font-size: 16px;
    background: #eee;
    //background: white;
    border: 1px solid #ccc;
  }
