/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #f0ffff;
}

form {
  margin: 1rem;
  margin-top: 25%; /* TODO: temporary value */
}

ol { list-style-type: none; }

.input {
  text-align: center;
  display: block;
  padding: 1rem;
  border-radius: 10px;
  width: 70%;
}
  .input[type="submit"]{
    text-transform: uppercase;
  }

/* give one style for spacing, another for "buttons" */

.label {
  display: block;
  text-align: center;
  color: #777;
}

.card {
  border: 1px solid #ccc;
  padding: 1rem;
}

/* Margins */
.mhl {
  margin-left: 3.2rem;
  margin-right: 3.2rem;
}

.mvm {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.mbm {
  margin-bottom: 1.6rem;
}
.mbs {
  margin-bottom: 0.8rem;
}


/* Text and Fonts */
.font-25 {
  font-size: 25px;
}

